<%= form_with(model: person) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :surname %>
    <%= form.text_field :surname %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :office %>
    <%= form.text_field :office %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <div class="field">
    <%= form.label :chair %>
    <%= form.text_field :chair %>
  </div>

  <div class="field">
    <%= form.label :office_hours %>
    <%= form.text_field :office_hours %>
  </div>

  <div class="field">
    <%= form.label :telegram_handle %>
    <%= form.text_field :telegram_handle %>
  </div>

  <div class="field">
    <%= form.label :knowledge %>
    <%= form.text_field :knowledge %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
