<%= form_with(model: person, params: @params) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "form_item", :locals => { form: form, field_name: :first_name} %>
  <%= render "form_item", :locals => { form: form, field_name: :last_name} %>
  <%= render "form_item", :locals => { form: form, field_name: :title} %>
  <%= render "form_item", :locals => { form: form, field_name: :email} %>
  <%= render "form_item", :locals => { form: form, field_name: :image} %>
  <%= render "form_item", :locals => { form: form, field_name: :status} %>

<!--
  TODO: Update other tables
  <% @person.informations.each do |information| %>
    <div class="field">
      <%= form.label information.key %>
      <%= form.text_field information.key%>
      <%= form.check_box "human_verified_#{information.key}".to_sym, class: "form-check-input"%>
    </div> 
  <% end %> -->

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
