<p id="notice"><%= notice %></p>

<h1>People</h1>

<div class="buttons">
  <%= link_to new_person_path do %>
    <span class="btn btn-primary">New Person</span>
  <% end %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Office</th>
      <th>Title</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Image</th>
      <th>Status</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.first_name %></td>
        <td><%= person.last_name %></td>
        <td><%= person.room&.display_name %></td>
        <td><%= person.title %></td>
        <td><%= person.email %></td>
        <td><%= person.informations.get_value('phone') %></td>
        <td>
          <a href="<%=person.image%>">
            <%= person.image %>
          </a>
        </td>
        <td><%= person.status %></td>
        <td>
          <a href="<%=person.informations.get_value('website')%>">
            <%= person.informations.get_value('website') %>
          </a>
        </td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>