<p id="notice"><%= notice %></p>

<h1>People</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Title</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Office</th>
      <th>Website</th>
      <th>Image</th>
      <th>Chair</th>
      <th>Office hours</th>
      <th>Telegram handle</th>
      <th>Knowledge</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.surname %></td>
        <td><%= person.title %></td>
        <td><%= person.email %></td>
        <td><%= person.phone %></td>
        <td><%= person.office %></td>
        <td><%= person.website %></td>
        <td><%= person.image %></td>
        <td><%= person.chair %></td>
        <td><%= person.office_hours %></td>
        <td><%= person.telegram_handle %></td>
        <td><%= person.knowledge %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
<%= button_to 'Scrape', scrape_people_path %>