<% content_for :title, "Person: #{@person.full_name}" %>
<div class='detail'>
  <div class='row mb-5'>
    <div class='col-3'>
      <%= image_tag @person.image_or_placeholder, class: 'picture-rounded' %>
    </div>
    <div class='col'> 
      <h1>
        <%= @person.full_name %>
      </h1>
      <p>
        <span class="badge text-dark"><%= @person.status %></span>
      </p>
 </div>
  </div>
  <div class='row'>
    <div class='col-3'> email </div>
    <div class='col'> <%= @person.email.gsub('@', '(at)') if @person.email %> </div>
  </div>
  <% @person.informations.each do |information| %>
    <div class='row'>
      <div class='col-3'>
        <%= information.key %>
      </div>
      <div class='col'>
        <%= information.value %>
      </div>
    </div>
  <% end %>
  <% if @person.room %>
    <div class='row'>
      <div class='col-3'> room </div>
      <div class='col'>
        <%= link_to room_path(@person.room), class: "btn btn-with-img" do %>
          <%= image_tag(@person.room.image, class: "btn-img") %>
          <%= @person.room.name %>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @person.chairs %>
    <div class='row'>
      <div class='col-3'> chair </div>
      <div class='col'>
        <% @person.chairs.each do |chair| %>
        <div class="mb-2">
          <%= link_to chair_path(chair), class: "btn btn-with-img" do %>
            <%= image_tag(chair.image_or_placeholder, class: "btn-img") %>
            <%= chair.name %>
          <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @person.courses %>
    <div class='row'>
      <div class='col-3'> courses </div>
      <div class='col'>
        <% @person.courses.each do |course| %>
        <div class="mb-2">
          <%= link_to course_path(course), class: "btn btn-with-img" do %>
            <%= image_tag(course.image_or_placeholder, class: "btn-img") %>
            <%= course.name %>
          <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @person.status %>
    <div class='row'>
      <div class='col-3'> status </div>
      <div class='col'> <%= @person.status %> </div>
    </div>
  <% end %>
</div>
<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
