<p id="notice"><%= notice %></p>

<table class="table table-details">
  <thead>
    <tr>
      <th> <img src= "<%= @person.image %>" class="rounded-circle">
      <th> <%= @person.full_name %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> email </td>
      <td> <%= @person.email %> </td>
    </tr>
    <% @person.informations.each do |information| %>
      <tr>
        <td>
          <%= information.key %>
        </td>
        <td>
          <%= information.value %>
        </td>
      </tr>
    <% end %>
    <% if @person.room %>
      <tr>
        <td> room </td>
        <td> <%= link_to(@person.room.display_name, room_path(@person.room)) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
  
  <%= link_to 'Edit', edit_person_path(@person) %> |
  <%= link_to 'Back', people_path %>
