<p id="notice"><%= notice %></p>

<h1>Data Problems</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Description</th>
      <th>Field</th>
      <th>Room</th>
      <th>Person</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @data_problems.each do |data_problem| %>
      <% if !data_problem.person_id.nil? %>
        <tr>
          <td><%= data_problem.url %></td>
          <td><%= data_problem.description %></td>
          <td><%= data_problem.field %></td>
          <td><%= data_problem.room_id %></td>
          <td><%= data_problem.person_id %></td>
          <td><%= link_to 'Edit', edit_person_url(data_problem.person_id)<<edit_params(data_problem.person_id)  %></td>
        </tr>
      <% end %>
      <% if data_problem.person_id.nil? %>
        <tr>
          <td><%= data_problem.url %></td>
          <td><%= data_problem.description %></td>
          <td><%= data_problem.field %></td>
          <td><%= data_problem.room_id %></td>
          <td><%= data_problem.person_id %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Data Problem', new_data_problem_path %>
