<% content_for :title, @params ? "Results for #{@params}" : "Search" %>
<div class="row">
  <div class="col-lg-6 col-md-9 col-12 mx-auto">
    <div class="row mb-3">
      <h1 class="fw-light">
        Welcome to the HPI Compass Portal<%= ", #{current_user.username}" if user_signed_in? && current_user.username.present? %>!
      </h1>
    </div>
  <%= form_with url: search_path, method: :get do |form| %>
      <div class="row align-items-end mb-3">
        <div class="col">
          <div class="form-group">
            <%= form.label :query, "Search", class: 'form-label' %>
            <%= form.text_field :query, class: 'form-control', autofocus: true, value: @params, id: "search" %>
          </div>
        </div>
        <div class="col-auto">
          <%= form.submit "Search", class: 'btn btn-primary', id: "submit" %>
        </div>
      </div>
  <% end %> 
    <div class="row">
      <div class="col">
        <div class="list-group" id="exact-results">
          <%if @exact_results.present? %>
            <% @exact_results.each do |result|%>
              <a href="<%=url_for(result)%>" class="list-group-item list-group-item-action" >
                <span class= "<%= result.icon_class %>"></span>
                <%= result.to_string %>
              </a>

              <a hred="<%=url_for(result)%>">
                <div class='row mb-3'>
                  <div class='col-3'> <%= image_tag(result.image_or_placeholder, class: "picture-rounded") %> </div>
                  <div class="col mx-3">
                    <h4><%= result.to_string %></h4>
                    <% result.displayed_tags.each do |tag| %>
                      <%= tag %>
                    <% end %>
                  </div>
                </div>
              </a>


            <% end %>
          <% end %>
        </div>
        <%if @exact_results.present? and @more_results.present? %> More Results <%end %>
        <div class="list-group" id="more-results">
          <%if @more_results.present? %>
            <% @more_results.each do |result|%>
              <a href="<%=url_for(result)%>" class="list-group-item list-group-item-action search-item" >
              <span class= "<%= result.icon_class %>"></span>
              <%= result.to_string %></a>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
