<div class="row">
  <div class="col-lg-6 col-md-6 mx-auto">
    <h1 class="fw-light">
      Welcome to the HPI Compass Portal<%= ", #{current_user.username}" if user_signed_in? && current_user.username.present? %>!
    </h1>
    
    <%= form_with url: search_path, method: :get do |f| %>
      <div class="mb-3">
          <%= f.label :query, "Search", class: 'form-label' %>
          <%= f.text_field :query, class: 'form-control', autofocus: true, id: "search" %>
          <%= f.submit "Search", class: 'btn btn-primary mt-3' %>
      </div>
    <% end %>
  </div>
</div>
