<div class="row">
  <div class="col-lg-6 col-md-9 col-12 mx-auto">
    <div class="row mb-3">
      <h1 class="fw-light">
        Welcome to the HPI Compass Portal<%= ", #{current_user.username}" if user_signed_in? && current_user.username.present? %>!
      </h1>
    </div>
  <%= form_with url: search_path, method: :get do |form| %>
      <div class="row align-items-end mb-3">
        <div class="col">
          <div class="form-group">
            <%= form.label :query, "Search", class: 'form-label' %>
            <%= form.text_field :query, class: 'form-control', autofocus: true, value: @params, id: "search" %>
          </div>
        </div>
        <div class="col-auto">
          <%= form.submit "Search", class: 'btn btn-primary', id: "submit" %>
        </div>
      </div>
  <% end %> 
    <div class="row">
      <div class="col">
        <div class="list-group">
          <% @persons.each do |person|%>
              <a href="#" class="list-group-item list-group-item-action" ><%= person.title %> <%= person.first_name %> <%= person.last_name %></a>
          <% end %>
          <% @rooms.each do |room|%>
              <a href="#" class="list-group-item list-group-item-action" ><%= room.house %>-<%= room.floor %>.<%= room.number %> <%= room.full_name %></a>
          <% end %>
          <% @chairs.each do |chair|%>
              <a href="#" class="list-group-item list-group-item-action" ><%= chair.name %></a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
