<% content_for :title, "Chair #{@chair.name}" %>
<div class='detail'>
  <div class='row mb-3'>
    <div class='col-3'> <%= image_tag(@chair.image, class: "picture-rounded") %> </div>
    <div class="col mx-3">
      <h2><%= @chair.name %></h2>
      <span class="badge bg-primary">Chair</span>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-start iconbuttons mb-3">
    <%= link_to render('partials/iconbutton', :locals => {:text => 'Show on map', :icon_class => 'fa-map', :margin => 'me-4'}), map_path(:room_id => @chair.rooms[0]) %>
    <%= link_to render('partials/iconbutton', :locals => {:text => 'Navigate', :icon_class => 'fa-location-arrow'}), root_path %>
  </div>

  <% if @chair.people %>
    <div class='row'>
      <div class='col-3'> people </div>
      <div class='col'>
        <% @chair.people.each do |person| %>
          <div class="mb-2">
            <%= link_to person_path(person), class: "btn btn-with-img" do %>
              <%= image_tag(person.image_or_placeholder, class: "btn-img") %>
              <%= person.full_name %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @chair.rooms %>
    <div class='row'>
      <div class='col-3'> room </div>
      <div class='col'>
        <% @chair.rooms.each do |room| %>
          <div class="mb-2">
            <%= link_to room_path(room), class: "btn btn-with-img" do %>
              <%= image_tag(room.image, class: "btn-img") %>
              <%= room.name %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<%= link_to 'Edit', edit_chair_path(@chair) %> |
<%= link_to 'Back', chairs_path %>
