<div class="row">
  <div class=" mx-auto">
    <h1 class="fw-light">Protected page</h1>
    <p class="lead text-muted">This page can only be accessed when logged in.</p>
    <p>
      You are currently logged in (check says: <%= user_signed_in? %>) as <%= current_user %> with the email <%= current_user.email %> and id <%= current_user.id %>
    </p>
    <p>
      You can log out by sending a DELETE request to the `destroy_user_session_path`, which the following link does:
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fas fa-sign-out-alt"></i> Log out
      <% end %>
    </p>
  </div>
</div>