<p id="notice"><%= notice %></p>
<%# Placeholder until the other team/issue integrates them correctly in the table %>
<% if @room.tags %>
  <p>
    <strong>Tags:</strong>
    <% tag_names = @room.tags.map {|tag| tag.name} %>
    <%= tag_names.join(", ") %>
  </p>
<% end %>
<div class='detail'>
  <div class='row mb-4'>
    <div class='col-3'> <%= image_tag(@room.image, class: "rounded-circle") %> </div>
    <div class='col'> <%= @room.full_name %> </div>
  </div>
  <div class="row mb-4">
    <div class="col-sm-9 offset-sm-3">
      <a href="#" class="btn btn-with-img">
        <i class="fas fa-map btn-img"></i>
        Show on Map
      </a>
    </div>
  </div>
  <div class='row'>
    <div class='col-3'>
      building
    </div>
    <div class='col-3'>
      <%# supposed to be empty until we get dummy data and a name attribute for a building %>
      <%= @room.building %>
    </div>
  </div>
  <% if @room.chairs.present? %>
    <div class='row'>
      <div class='col-3'>
        chairs
      </div>
      <div class='col'>
        <ul class="list-details">
          <% @room.chairs.each do |chair| %>
            <li>
              <%= link_to(chair.name, chair_path(chair)) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <% if @room.people.present? %>
    <div class='row'>
      <div class='col-3'> people </div>
      <div class='col'>
        <ul class="list-details">
          <% @room.people.each do |person| %>
            <li>
              <%=  link_to(person.full_name, person_path(person)) %>
            </li>
          <%  end %>
        </ul>
      </div>
    </div>
  <% end %>
  <% if @room.room_types.present? %>
    <div class='row'>
      <div class='col-3'> room types </div>
      <div class='col'>
        <ul class="list-details">
          <% @room.room_types.each do |room_type| %>
            <li>
              <%=  room_type.name %>
            </li>
          <%  end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
