<p id="notice"><%= notice %></p>

<div class="detail row mb-5">
  <div class="col-3">
      <% if @room.image then %>
        <%= image_tag(@room.image, class: "picture-rounded fill") %>
      <% else %>
        <div class="picture-rounded d-flex justify-content-center align-items-center">
          <i class="far fa-building fa-2x"></i>
        </div>
      <% end %>
  </div>
  
  <div class="col mx-3">
      <h2><%= @room.name %></h2>

      <span class="badge bg-primary">Room</span>
      <% @room.tags.each do |tag| %>
          <span class="badge bg-primary"><%= tag.name %></span>
      <% end %>
  </div>
</div>

<div class="d-flex flex-row justify-content-start iconbuttons">
    <%= link_to render('partials/iconbutton', :locals => {:text => 'Show on map', :icon_class => 'fa-map', :margin => 'me-4'}), map_path(:room_id => @room.id) %>
    <%= link_to render('partials/iconbutton', :locals => {:text => 'Navigate', :icon_class => 'fa-location-arrow'}), root_path %>
</div>

<br>

<p>
  <strong>Floor:</strong>
  <%= @room.floor.name %>
</p>

<p>
  <strong>Room number:</strong>
  <%= @room.number %>
</p>

<p>
  <strong>Room name:</strong>
  <%= @room.full_name %>
</p>

<% if @room.chairs %>
  <p>
    <strong>Chairs:</strong>
    <% chair_names = @room.chairs.map do |chair| %>
    <%  link_to(chair.name, chair_path(chair)) %>
    <%  end %>
    <%= chair_names.join(", ").html_safe %>
  </p>
<% end %>

<% if @room.room_types %>
  <p>
    <strong>Room types:</strong>
    <% room_type_names = @room.room_types.map {|room_type| room_type.name} %>
    <%= room_type_names.join(", ") %>
  </p>
<% end %>

<% if @room.people %>
  <p>
    <strong>People:</strong>
    <% @room.people.map do |person| %>
    <%= link_to render('partials/iconbutton', :locals => {:text => person.full_name, :icon_class => 'fa-user'}), person_path(person) %>
    <% end %>
  </p>
<% end %>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
