<p id="notice"><%= notice %></p>

<%# Placeholder until the other team/issue integrates them correctly in the table %>
<% if @room.tags %>
  <p>
    <strong>Tags:</strong>
    <% tag_names = @room.tags.map {|tag| tag.name} %>
    <%= tag_names.join(", ") %>
  </p>
<% end %>

<table class="table table-details">
  <thead>
    <tr>
      <th> <%= "Picture placeholder" %>
      <th> <%= @room.full_name %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        building
      </td>
      <td>
      <%# supposed to be empty until we get dummy data and a name attribute for a building %>
        <%= @room.building %> 
      </td>
    </tr>
    <% if @room.chairs.present? %>
      <tr>
        <td>
          chairs
        </td>
        <td>
          <ul class="list-details">
            <% @room.chairs.each do |chair| %>
              <li>
                <%= link_to(chair.name, chair_path(chair)) %>
              </li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
    <% if @room.people.present? %>
      <tr>
        <td> people </td>
        <td>
          <ul class="list-details">
            <% @room.people.each do |person| %>
              <li>
                <%=  link_to(person.full_name, person_path(person)) %>
              </li>
            <%  end %>
          </ul>
        </td>
      </tr>
    <% end %>
    <% if @room.room_types.present? %>
      <tr>
        <td> room types </td>
        <td>
          <ul class="list-details">
            <% @room.room_types.each do |room_type| %>
              <li>
                <%=  room_type.name %>
              </li>
            <%  end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
