<% content_for :title, "#{@room.name}" %>
<div class='detail'>
  <div class='row mb-3'>
    <div class='col-3'> <%= image_tag(@room.image, class: "picture-rounded") %> </div>
    <div class="col mx-3">
      <h2><%= @room.name %></h2>
      <span class="badge bg-primary">Room</span>
      <% @room.tags.each do |tag| %>
        <span class="badge bg-primary"><%= tag.name %></span>
      <% end %>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-start iconbuttons mb-3">
    <%= link_to render('partials/iconbutton', :locals => {:text => 'Show on map', :icon_class => 'fa-map', :margin => 'me-4'}), map_path(:room_id => @room.id) %>
    <%= link_to render('partials/iconbutton', :locals => {:text => 'Navigate', :icon_class => 'fa-location-arrow'}), navigation_path(:coordinate => @room.to_navigation) %>
  </div>
  <div class='row'>
    <div class='col-3'>
      floor
    </div>
    <div class='col'>
      <%= @room.floor.name %>
    </div>
  </div>
  <% if @room.chairs.present? %>
    <div class='row'>
      <div class='col-3'>
        chairs
      </div>
      <div class='col'>
        <% @room.chairs.each do |chair| %>
          <div class="mb-2">
            <%= link_to chair_path(chair), class: "btn btn-with-img" do %>
              <i class="fas fa-book btn-img"></i>
              <%= chair.name %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @room.people.present? %>
    <div class='row'>
      <div class='col-3'> people </div>
      <div class='col'>
        <% @room.people.each do |person| %>
          <div class="mb-2">
            <%= link_to person_path(person), class: "btn btn-with-img" do %>
              <%= image_tag(person.image_or_placeholder, class: "btn-img") %>
              <%= person.full_name %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @room.room_types.present? %>
    <div class='row'>
      <div class='col-3'> room types </div>
      <div class='col'>
        <ul class="list-details">
          <% @room.room_types.each do |room_type| %>
            <li>
              <%=  room_type.name %>
            </li>
          <%  end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
