<!DOCTYPE html>
<html>
  <head>
  	<title>HPI Map</title>
	<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />

	<%= stylesheet_link_tag 'map' %>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.76.0/dist/L.Control.Locate.min.css" />
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.css" />
	
	<%= javascript_include_tag 'OutdoorMap/geometry' %>
  </head>

  <body>
  	<div class="leaflet">
  		<div id="map" style="width: 100%; height: 600px;"></div>
      <%= javascript_include_tag 'OutdoorMap/map_build' %>
      <%= render 'indoor' %>
	</div>

    <% if @selected_room.present? %>
		<div class="room-popup">
			<%= render 'partials/map_popup', :locals => {:room => @selected_room}%>
		</div>
		<script type="text/javascript" charset="utf-8">
			// TODO: Zoom to center of room & place needle there
			mymap.setView([52.39300, 13.12900], indoorZoomLevel);
		</script>
    <% end %>
  </body>
</html>