<%= javascript_pack_tag 'search_button', 'data-turbolinks-track': 'reload' %>
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom-bottom vw-100 p-1">
  <div class="container-fluid">
      <ul class="navbar-nav mx-auto flex-row w-75 justify-content-between">
        <li class="<%= 'active' if current_page?(search_path) %> nav-item">
          <button class="btn nav-link d-flex flex-column align-items-center" onclick="redirectWithQuery('<%=search_path%>')">
            <i class="fas fa-search fa-lg"></i> <span>Search</span>
          </button>
        </li>
        <li class="<%= 'active' if current_page?(map_path) %> nav-item">
          <button class="btn nav-link d-flex flex-column align-items-center" onclick="redirectWithQuery('<%=map_path%>')">
            <i class="fas fa-map fa-lg"></i> <span>Map</span>
          </button>
        </li>
        <li class="<%= 'active' if !current_page?(map_path) && !current_page?(search_path) %> nav-item">
          <%= link_to protected_path, class: 'nav-link d-flex flex-column align-items-center' do %>
            <i class="fas fa-list fa-lg"></i> <span>Options</span>
          <% end %>
        </li>
      </ul>
  </div>
</nav>