<!DOCTYPE html>
<html>
  <head>
    <link rel="manifest" href="/manifest.json">
    <% title = yield(:title) %>
    <% # if you change the – also changes might be needed in app/javascript/packs/search.js %>
    <title><%= title + " – " if title.present? %>HPI Compass Portal</title>
    <%= Gon::Base.render_data %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
     <%= include_gon %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/titlebar' %>
    <%= render 'layouts/alerts' %>
    <%# https://getbootstrap.com/docs/5.0/layout/containers/ %>
    <%# https://getbootstrap.com/docs/5.0/utilities/spacing/ %>
    <div class="container mt-5 mb-5">
      <%= yield %>
    </div>
    <%= render 'layouts/bottombar' %>
  </body>
</html>
